HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Additional ###
.mvn
logs
OrderManager/src/main/resources/instrument_cache
instrument_cache/
*.p12
Technicals/src/test/resources/RELIANCE_2023_03_10/
Simulator/
OrderManager/src/main/resources/data/
options-analyzer-ui/package-lock.json


### UI ###
# dependencies
options-analyzer-ui/node_modules
options-analyzer-ui/.pnp
options-analyzer-ui/.pnp.js

# testing
options-analyzer-ui/coverage

# production
options-analyzer-ui/build

# misc
options-analyzer-ui/.DS_Store
options-analyzer-ui/.env.local
options-analyzer-ui/.env.development.local
options-analyzer-ui/.env.test.local
options-analyzer-ui/.env.production.local

options-analyzer-ui/npm-debug.log*
options-analyzer-ui/yarn-debug.log*
options-analyzer-ui/yarn-error.log*
options-analyzer-ui/node/
OrderManager/options-analyzer-ui/node/
OrderManager/src/main/resources/static/
OrderManager/src/main/java/com/vish/fno/manage/malgos/
OrderManager/src/main/java/com/vish/fno/manage/strategy/
OrderManager/src/main/resources/tick/
